$darkBlack: #1e2836;
$white: #ffffff;
$primaryGreen: #31b099;
$primaryGreen800: #0f5d66;
$secondary100: #edf1f3;
$secondary200: #dce4e8;
$secondary300: #acb5bb;
$secondary400: #6c7278;
$secondary500: #1a1c1e;
